.header {
  display: flex;
  align-items: center;
   justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  flex-direction: column;
}
.header__container{
    height: 40px;
    max-width: 1000px;
    align-items: center;
    /* background-color: #cd9042; */
    /* background-color: aqua; */
    display: flex;
    width: 100%;
}
.header__main_container{
    display: flex;
    flex: 1;
    background-color: rgba(113,118,126,1);
    align-items: center;
   justify-content: center;
    width: 100%;
}

.navbar__main_container{
    display: flex;
    flex: 1;
    background-color: rgba(113,118,126,0.8);
    align-items: center;
   justify-content: center;
    width: 100%;
}
.navbar__container{
    height: 40px;
    max-width: 1000px;
    align-items: center;
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar__app_name_container{
  /* background-color: blueviolet; */
  display: flex;
  flex: 1.5;
  height: 100%;
  align-items: center;
}
.navbar__app_name{
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.navbar__options{
  display: flex;
  height: 100%;
  /* background-color:blue; */
  justify-content: space-around;
  align-items: center;
  flex:4
}
.navbar__option{
  display: flex;
  flex-direction: column;
  color: white;
  
}
.navbar__option  a{
  color: white;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__optionLineOne {
  font-size: 10px;
  margin-right: 5px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}


.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  color: white;
  
}
