<div class="section1">
    <div class="section1__column1">
        <div class="section1__column1_row1">
            <h1>The Best Packers & Movers Service.</h1>
            <p>Get started swiftly & easily by importing a demo of your choice 
                in a single click. Over 30 high quality designed website
                in a single click. Over 30 high quality designed website
                in a single click. Over 30 high quality designed website
            </p>
        </div>
        <div class="section1__column1_row2">
            <p>FOR 24/7 EMERGENCY SUPPORT</p>
            <span>890-889-342-90</span>
        </div>
        <div class="section1__column1_row3">
            <button class="btn btn-info">GET A QUOTE</button>
            <button class="btn btn-info">LEARN MORE</button>
        </div>

    </div>
    <div class="section1__column2">
        <form class="section1__column2_form">
            <div class="section1__column2_form_header">
               <h1>Request free quote</h1> 
               <p>
                Exponent WordPress theme is insanely flexible and easy to use.
               </p>
            </div>
            <!-- First name input -->
            <div class="form-outline mb-4">
              <input placeholder="First name" type="text" id="form1Example1" class="form-control" />
            </div>

            <!-- Last name input -->
            <div class="form-outline mb-4">
              <input placeholder="Last name" type="text" id="form1Example1" class="form-control" />
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input placeholder="Email" type="email" id="form1Example2" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input placeholder="Password" type="password" id="form1Example2" class="form-control" />
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-info btn-block">Sign in</button>
          </form>
    </div>

</div>