<div class="section3">
    <div class="section3__row1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/box2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/box1.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card card-container" style="width: 18rem;">
            <img class="card-img-top" src="assets/box3.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="section3__row2">
        <div class="section3__row2_column1">
            <span>OUR SERVICES</span> 
            <h1>Innovation & advancement start here.</h1>
            <p>Get started swiftly & easily by importing a demo of your choice in a single click. Over 30 high quality professionally designed.</p>
            <button class="btn btn-info">
                LEARN MORE
            </button>
        </div>
        <div class="section3__row2_column2 d-flex flex-wrap">
            <div class=" mt-auto p-2 section3__row2_column2_item">
                <span>OUR SERVICES</span> 
                <h1>Innovation & advancement start here.</h1>
                <p>0 high quality professionally designed.</p>
            </div>
            <div class=" mt-auto p-2 section3__row2_column2_item">
                <span>OUR SERVICES</span> 
                <h1>Innovation & advancement start here.</h1>
                <p>0 high quality professionally designed.</p>
            </div>
            <div class=" mt-auto p-2 section3__row2_column2_item">
                <span>OUR SERVICES</span> 
                <h1>Innovation & advancement start here.</h1>
                <p>0 high quality professionally designed.</p>
            </div>
            <div class=" mt-auto p-2 section3__row2_column2_item">
                <span>OUR SERVICES</span> 
                <h1>Innovation & advancement start here.</h1>
                <p>0 high quality professionally designed.</p>
            </div>
        </div>
    </div>
</div>