<div class="section2">
    <div class="section2__column1">
        <img src="assets/about.png" alt="">
    </div>
    <div class="section2__column2">
        <span>OUR COMPANY</span>
        <h1>If you want high quality moving
            services this is the right place for you
        </h1>
        <p>
            Over 30 high quality professionally designed pre-built website concepts to choose from. Build your website using a fully visual interface, using our revolutionary page & header builder.
        </p>
        <p>
            Get started swiftly & easily by importing a demo of your choice in a single click. Over 30 high quality professionally designed pre-built website concepts to choose from. Exponent is a modern business theme, that lets you build stunning high performance websites 
        </p>
        <button class="btn btn-info">
            LEARN MORE
        </button>
    </div>
</div>
